**/*.iml
**/node_modules
**/package-lock.json
.idea
**/target

# compiled output
**/dist
**/tmp
**/out-tsc

# miscp
**/.sass-cache
**/connect.lock
**/coverage
**/libpeerconnection.log
**/npm-debug.log
**/testem.log
**/typings

robinhood/src/main/resources/public/*
safaribooksonline/src/main/resources/public/*
