<table class="stock">
  <tbody>
    <tr>
      <td class="symbol">
        <div [style.height]="graphHeight" style="position: relative;">
          <div class="top-left">
            {{ stock.symbol }}
            <div class="position" *ngIf="stock.quantity">
              {{ stock.quantity }} @ {{ stock.averageBuyPrice }}<br/>
              held: {{ stock.heldForSells }}
            </div>
          </div>
        </div>
      </td>
      <td class="min-max">
        <div [style.height]="graphHeight" style="position: relative; text-align: right;">
          <div class="top-right small">
            <span class="day-week-min-max">{{ stock.day5Max }}</span>
            <span class="day-week-min-max">{{ stock.dayMax }}</span>
          </div>
          <div class="bottom-right small">
            <span class="day-week-min-max">{{ stock.day5Min }}</span>
            <span class="day-week-min-max">{{ stock.dayMin }}</span>
          </div>
          <span class="aligner"></span>
          <span class="price-percentage">
            5days &lt; {{ stock.weekPercentage }}%<br/>
            today &lt; {{ stock.dayPercentage }}%
          </span>
          <span class="glyphicon glyphicon-plus plus-minus"
                [style.display]="buySellOpen ? 'none' : 'inline-block'" (click)="toggleBuySellOpen()"></span>
          <span class="glyphicon glyphicon-minus plus-minus"
                [style.display]="buySellOpen ? 'inline-block' : 'none'" (click)="toggleBuySellOpen()"></span>
        </div>
      </td>
      <td class="graph">
        <div style="position: relative;">
          <img [src]="stock.graphUrl"/>
          <div class="top-right">
            <div class="last5mins-min-max">{{ stock.last5minsMax}}</div>
            <p class="price">{{ stock.price }}</p>
            <div class="last5mins-min-max">{{ stock.last5minsMin}}</div>
          </div>
          <div class="top-left">
            <form class="form-inline" [style.display]="buySellOpen ? 'block' : 'none'">
              <table>
                <tr>
                  <td>
                    <button class="btn btn-warning btn-xs" (click)="buy()">Buy</button>
                    <input class="form-control input-sm" style="width: 3em; text-align: center;"
                           [(ngModel)]="numberOfSharesToTrade" [ngModelOptions]="{standalone: true}"/>
                  </td>
                  <td style="text-align: right;"><label>@ $</label></td>
                  <td>
                    <input class="form-control input-sm" style="width: 3.9em;" [(ngModel)]="priceToTrade"
                           [ngModelOptions]="{standalone: true}"/>
                  </td>
                  <td><button class="btn btn-primary btn-xs" (click)="sell()">Sell</button></td>
                  <td><label>Wait?</label></td>
                </tr>
                <tr>
                  <td><label>Re-sell/buy? <input type="checkbox" [(ngModel)]="resell" [ngModelOptions]="{standalone: true}"></label></td>
                  <td style="text-align: right;">
                    <label [style.display]="resell ? 'inline-block' : 'none'">&plusmn; $</label>
                  </td>
                  <td colspan="2">
                    <input class="form-control input-sm" style="width: 3.9em;"  [(ngModel)]="resellDelta"
                           [style.display]="resell ? 'inline-block' : 'none'" [ngModelOptions]="{standalone: true}"/>
                  </td>
                  <td><input type="checkbox" [(ngModel)]="wait" [ngModelOptions]="{standalone: true}"/></td>
                </tr>
              </table>
            </form>
          </div>
          <div class="bottom-left">
            <span class="way-going" [style.display]="isGoingOneWayLongEnough(stock.down.duration)">
              down for {{ stock.down.duration }}s <sup>{{ stock.down.from }}</sup> <sub>{{ stock.down.to }}</sub>
            </span>
            <span class="way-going" [style.display]="isGoingOneWayLongEnough(stock.up.duration)">
              up for {{ stock.up.duration }}s <sub>{{ stock.up.from }}</sub> <sup>{{ stock.up.to }}</sup>
            </span>
          </div>
        </div>
      </td>
      <td class="orders">
        <span [class]="buildOrderClass(order)" *ngFor="let order of stock.orders">
          {{ order.createdAt }}<br/>{{ order.quantity }} @ {{ order.price }}
          <span class="glyphicon glyphicon-remove remove" (click)="hide(order)"
                [style.display]="!order.justRemoved && (order.state === 'filled') ? 'inline-block' : 'none'">
          </span>
          <span class="glyphicon glyphicon-remove cancel" (click)="cancel(order)"
                [style.display]="!order.justCancelled && (order.state !== 'filled') ? 'inline-block' : 'none'">
          </span>
        </span>
      </td>
    </tr>
  </tbody>
</table>
