<table class="stock">
  <tbody>
    <tr>
      <td class="symbol">
        <div [style.height]="graphHeight" style="position: relative;">
          <div class="top-left">{{ stock.symbol }}</div>
        </div>
      </td>
      <td class="min-max">
        <div [style.height]="graphHeight" style="position: relative;">
          <div class="top-right small">{{ stock.dayMax }}</div>
          <div class="bottom-right small">{{ stock.dayMin }}</div>
        </div>
      </td>
      <td class="graph">
        <div style="position: relative;">
          <img [src]="stock.graphUrl"/>
          <div class="top-right">{{ stock.price }}&nbsp;</div>
        </div>
      </td>
      <td class="orders">
        <span class="order" [class]="buildOrderClass(order)" *ngFor="let order of stock.orders">
          {{ order.createdAt }}<br/>{{ order.quantity }} @ {{ order.price }}</span>
      </td>
    </tr>
  </tbody>
</table>
