<table class="stock" style="border-bottom: 1px solid #ddd;">
  <tbody>
    <tr>
      <td class="symbol">
        <table class="table">
          <tr>
            <td title="5 days max" style="padding-left: 0;">{{ stock.day5Max }}</td>
            <td title="today max" style="background-color: #eee;">{{ stock.dayMax }}</td>
            <td title="20mins max">{{ stock.last5minsMax }}</td>
          </tr>
          <tr>
            <td colspan="3" style="padding-left: 0; padding-right: 0;">
              <table class="table">
                <tr>
                  <td style="padding-left: 0;">
                    {{ stock.symbol }}
                    <div class="position" *ngIf="stock.quantity">
                      {{ stock.quantity }} @ {{ stock.averageBuyPrice }}<br/>
                      held: {{ stock.heldForSells }}
                    </div>
                  </td>
                  <td style="padding-right: 0; text-align: right;">
                    <span class="aligner"></span>
                    <span class="price-percentage">
                      5days &lt; {{ stock.weekPercentage }}%
                      <br/><br/>
                      today &lt; {{ stock.dayPercentage }}%
                    </span>
                    <i class="fa fa-window-maximize plus-minus"
                          [style.display]="buySellOpen ? 'none' : 'inline-block'" (click)="toggleBuySellOpen()"></i>
                    <i class="fa fa-window-minimize plus-minus"
                          [style.display]="buySellOpen ? 'inline-block' : 'none'" (click)="toggleBuySellOpen()"></i>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td title="5 days min" style="padding-left: 0;">{{ stock.day5Min }}</td>
            <td title="today min" style="background-color: #eee;">{{ stock.dayMin }}</td>
            <td title="20mins min">{{ stock.last5minsMin }}</td>
          </tr>
        </table>
      </td>
      <td class="graph">
        <div style="position: relative;">
          <!--div class="highchart whole-day"></div-->
          <div class="highchart last-minutes"></div>
          <div class="top-right"><p class="price">{{ stock.price }}</p></div>
          <div class="top-left">
            <form class="buy-sell" [style.display]="buySellOpen ? 'block' : 'none'">
              <table class="table">
                <tr>
                  <td>
                    <button class="btn btn-warning" (click)="buy()">Buy</button>
                    <input class="form-control input-sm" style="width: 3em; text-align: center; display: inline-block;"
                           [(ngModel)]="numberOfSharesToTrade" [ngModelOptions]="{standalone: true}"/>
                  </td>
                  <td style="text-align: right;"><label>@ $</label></td>
                  <td>
                    <input class="form-control input-sm" style="width: 3.9em;" [(ngModel)]="priceToTrade"
                           [ngModelOptions]="{standalone: true}"/>
                  </td>
                  <td><button class="btn btn-primary" (click)="sell()">Sell</button></td>
                  <td><label>Wait?</label></td>
                </tr>
                <tr>
                  <td>
                    <label>Re-sell/buy?</label>
                    <input type="checkbox" [(ngModel)]="resell" [ngModelOptions]="{standalone: true}">
                  </td>
                  <td style="text-align: right;">
                    <label [style.display]="resell ? 'inline-block' : 'none'">&plusmn; $</label>
                  </td>
                  <td>
                    <input class="form-control input-sm" style="width: 3.9em;"  [(ngModel)]="resellDelta"
                           [style.display]="resell ? 'inline-block' : 'none'" [ngModelOptions]="{standalone: true}"/>
                  </td>
                  <td></td>
                  <td><input type="checkbox" [(ngModel)]="wait" [ngModelOptions]="{standalone: true}"/></td>
                </tr>
              </table>
            </form>
          </div>
        </div>
      </td>
      <td class="orders">
        <span [class]="buildOrderClass(order)" *ngFor="let order of stock.orders" [title]="'State:' + order.state">
          <span style="display: none;">state: {{ order.state }}</span>
          {{ order.createdAt }}<br/>{{ order.quantity }} @ {{ order.price }}
          <i class="fa fa-times remove" (click)="hide(order)"
                [style.display]="!order.justRemoved && (order.state === 'filled') ? 'inline-block' : 'none'">
          </i>
          <i class="fa fa-times cancel" (click)="cancel(order)"
                [style.display]="!order.justCancelled && (order.state !== 'filled') ? 'inline-block' : 'none'">
          </i>
        </span>
      </td>
    </tr>
  </tbody>
</table>
