td.symbol { width: 15em; vertical-align: top; }
.position { color: #666; font-size: 82%; }

.plus-minus { color: rgba(33,33,33,.19); cursor: pointer; }

td.graph input { opacity: .8; padding-left: 4px; padding-right: 4px; }
td.graph .btn-xs { opacity: .72; }
td.graph label { opacity: .51; }
td.graph p.price { padding-right: .3em; }

td.orders::after { display: block; content: ''; clear: both; }
td.orders .order .glyphicon-remove { position: absolute; top: 4px; font-size: 2.4em; cursor: pointer; }
td.orders .order .glyphicon-remove.remove { left:  4px; color: rgba(0,194,10,.35); }
td.orders .order .glyphicon-remove.cancel { right: 4px; color: rgba(255,82,0,.41); }
td.orders .order { border: 2px solid #fff; border-radius: 6px; padding: 0 4px; display: inline-block; position: relative; }
td.orders .order.buy.not-confirmed { background: linear-gradient(to right, #FCC, #FCC 33%, #FFF 34%); border: 1px solid #FCC; }
td.orders .order.buy.confirmed { background: linear-gradient(to right, #FCC, #FCC 66%, #FFF 67%); border: 1px solid #FCC; }
td.orders .order.buy.filled { background-color: #FCC; }
td.orders .order.buy.patient { border-color: #FCC; }
td.orders .order.sell.not-confirmed { background: linear-gradient(to right, #CCF, #CCF 33%, #FFF 34%); border: 1px solid #CCF; }
td.orders .order.sell.confirmed { background: linear-gradient(to right, #CCF, #CCF 66%, #FFF 67%); border: 1px solid #CCF; }
td.orders .order.sell.filled { background-color: #CCF; }
td.orders .order.sell.patient { border-color: #CCF; }

div.top-right { position: absolute; top: 0; right: 0; }
div.bottom-right { position: absolute; bottom: 0; right: 0; }
div.top-left { position: absolute; top: 0; left: 0; }
div.bottom-left { position: absolute; bottom: 0; left: 0; }

span.aligner { height: 100%; width: 2px; display: inline-block; vertical-align: middle; }
span.plus-minus { vertical-align: middle; }
span.price-percentage { display: inline-block; vertical-align: middle; color: #666; font-size: 82%; }


div.highchart { width: 400px; }
div.whole-day { height: 82px; }
div.last-minutes { height: 82px; }

.table > tbody > tr > td { border-top: 0; }
