<div class="container-fluid">
  <stock *ngFor="let stock of stocks; let i = index" [i]="i" [stock]="stock"
         [priceChange]="timestamp"
         [_graphKeepingDuration]="graphKeepingDuration"
         [closeBuySellBoxFor]="closeBuySellBoxFor"
         (message)="messageHandler($event)"
         (buySellOrder)="buySellOrderHandler($event)">
  </stock>
</div>
<ng2-toasty></ng2-toasty>

<div class="container-fluid" style="position: relative;">
  <div class="control">
    <i class="fa fa-caret-down" [style.display]="utilsOpen ? 'none'  : 'block'" (click)="utilsOpen = !utilsOpen"></i>
    <i class="fa fa-caret-up"   [style.display]="utilsOpen ? 'block' : 'none'"  (click)="utilsOpen = !utilsOpen"></i>
  </div>
  <div class="row" [style.display]="utilsOpen ? 'flex' : 'none'">
    <div class="col-md-2 form-inline">
      <label for="nosound">Test Sound?</label>
      &nbsp;
      <input type="checkbox" id="nosound" [(ngModel)]="nosound" [ngModelOptions]="{standalone: true}"
             class="form-control" style="width: auto;"/>
    </div>
    <div class="col-md-1">
      <button class="btn btn-default btn-sm" (click)="play('buy')">Play buy</button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-default btn-sm" (click)="play('sell')">Play sell</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-default btn-sm" (click)="clearHiddenOrderIds()">Clear hidden Order ID's</button>
    </div>
    <div class="col-md-5 form-inline">
      <label>Far back for Orders</label>
      &nbsp;
      <input type="number" [(ngModel)]="farBackForOrders" [ngModelOptions]="{standalone: true}"
             class="form-control" style="width: 5.2em;">
      &nbsp;
      <button class="btn btn-default btn-sm" (click)="setFarBackForOrders()">Send</button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-default btn-sm" (click)="writeDbToJson()">Stop</button>
    </div>
  </div>
  <div class="row" [style.display]="utilsOpen ? 'flex' : 'none'">
    <div class="col-md-11 form-inline">
      <label>Keep graph data for the last {{ graphKeepingDuration }} minutes &nbsp;</label>
      <input type="number" [(ngModel)]="graphKeepingDuration" [ngModelOptions]="{standalone: true}"
             class="form-control" style="width: 4.2em;">
    </div>
  </div>
</div>

<div class="portfolio">{{ equity }}</div>
