<table class="table table-striped">
  <tbody>
  <tr>
    <td>#</td>
    <td *ngFor="let amount of amounts; let i = index">
      <input type="text" class="form-control" [(ngModel)]="amounts[i]" [ngModelOptions]="{standalone: true}">
    </td>
  </tr>
  <tr>
    <td>Price</td>
    <td *ngFor="let price of prices; let i = index">
      <input type="text" class="form-control" [(ngModel)]="prices[i]" [ngModelOptions]="{standalone: true}">
    </td>
  </tr>
  <tr>
    <td>Profit</td>
    <td *ngFor="let profit of profits; let i = index">
      <input type="text" class="form-control" [(ngModel)]="profits[i]" [ngModelOptions]="{standalone: true}">
    </td>
  </tr>
  </tbody>
</table>
<button class="btn btn-secondary" (click)="debug()">Debug</button>
